$border-radius: 5px;

.Card {
  display: block;
  border-radius: $border-radius;
  transition-duration: 500ms;
  &:hover {
    box-shadow: 5px 5px 10px 0 black;
    margin: -5px 5px 5px -5px;
  }
  &__wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
  }

  &__footer {
    color: #fff;
    width: 100%;
    line-height: 50px;
    text-align: left;
    padding-left: 20px;
    font-weight: bold;
    border-radius: $border-radius;
    background: linear-gradient(rgba(0, 0, 0, 0) 0% ,rgba(0, 0, 0, .7) 50%,  black 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition-duration: 500ms;
    opacity: 0;
  }

  .enter {
    opacity: 1;
  }

  .enterDone {
    opacity: 1;
  }
}