@import '../../assets/scss/variables.scss';
// До 1100px
.Header {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  height: $Header_height;
  padding: 0 2vw;
  border-bottom: 1px solid #ccc;
  background: #fff;
  z-index: 10;
  &:nth-child(n) {
    line-height: $Header_height;
  }

  &__logo {
    min-width: 80px;
    color: black;
    font-size: 1.8em;
    font-weight: 900;
    margin-right: 3%;
    &:hover {
      color: $blue;
    }
    &:active {
      color: black;
    }
  }

  &__search {
    width: 30%;
    height: $HeaderItem_height;
    padding: 0 15px 0 35px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: $HeaderItem_height / 2;
    background: rgb(240, 240, 240);
    &:hover {
      background: rgb(225, 225, 230);
    }
    &:focus {
      background: rgb(255, 255, 255);
      box-shadow: 0 0 10px -4px black;
    }
  }
}